page-home {
  .deleteIcon {
    position: absolute !important;
    color: #ffffff !important;
    margin-left: 80% !important;
    transform: rotate(45deg);
  }
  .deleteIcon:before {
    font-size: 30px !important;
  }
  .releative {
    position: relative
  }
}